Flask
Flask-SQLAlchemy
Flask-Migrate
Flask-WTF
psycopg2-binary
python-dotenv
authlib
requests
opentelemetry-distro
opentelemetry-exporter-otlp
opentelemetry-instrumentation-flask
opentelemetry-instrumentation-sqlalchemy
