{% extends "base.html" %}

{% block title %}Authors{% endblock %}

{% block content %}
<main class="flex-1">
  <div class="max-w-7xl mx-auto px-4 py-16 sm:px-6 lg:px-8">
    <div class="text-center mb-16">
      <h1 class="text-5xl font-extrabold text-emerald-500 tracking-tight mb-4">
        Contributors
      </h1>
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6 max-w-6xl mx-auto">

      <div class="bg-zinc-900/50 border border-zinc-800 rounded-2xl p-8 flex flex-col items-center text-center group hover:border-emerald-500/50 transition-all duration-300">
        <div class="w-24 h-24 bg-emerald-500 rounded-full mb-6 flex items-center justify-center text-4xl shadow-lg shadow-emerald-900/20">
            <a href="https://devarena.pp.ua/user/oksesaneka22"><img src="https://devarena.pp.ua/static/profile_pics/7b1bd04554df01989fc7aac684eb353e.gif"></a>
        </div>
        <h3 class="text-2xl font-bold text-white mb-4">oksesaneka22</h3>
        <p class="text-zinc-400 text-sm leading-relaxed">
          <a href="https://github.com/oksentiukpn">github.com/oksentiukpn</a>
        </p>
      </div>

      <div class="bg-zinc-900/50 border border-zinc-800 rounded-2xl p-8 flex flex-col items-center text-center group hover:border-emerald-500/50 transition-all duration-300">
        <div class="w-24 h-24 bg-emerald-500 rounded-full mb-6 flex items-center justify-center text-4xl shadow-lg shadow-emerald-900/20">
            <a href="https://devarena.pp.ua/user/sofi"><img src="https://devarena.pp.ua/static/profile_pics/d74e02a95d6ef3db410aa93275fecfce.jpg"></a>
        </div>
        <h3 class="text-2xl font-bold text-white mb-4">sofi</h3>
        <p class="text-zinc-400 text-sm leading-relaxed">
            <a href="https://github.com/sofiapush2131">github.com/sofiapush2131</a>
        </p>
      </div>

      <div class="bg-zinc-900/50 border border-zinc-800 rounded-2xl p-8 flex flex-col items-center text-center group hover:border-emerald-500/50 transition-all duration-300">
        <div class="w-24 h-24 bg-emerald-500 rounded-full mb-6 flex items-center justify-center text-4xl shadow-lg shadow-emerald-900/20">
            <a href="https://devarena.pp.ua/user/андрій_антонюк1"><img src="https://devarena.pp.ua/static/profile_pics/photo_2026-03-03_20-24-19.jpg"></a>
        </div>
        <h3 class="text-2xl font-bold text-white mb-4">whatever you want</h3>
        <p class="text-zinc-400 text-sm leading-relaxed">
          <a href="https://github.com/andrew-antoniuk">github.com/andrew-antoniuk</a>
        </p>
      </div>

      <div class="bg-zinc-900/50 border border-zinc-800 rounded-2xl p-8 flex flex-col items-center text-center group hover:border-emerald-500/50 transition-all duration-300">
        <div class="w-24 h-24 bg-emerald-500 rounded-full mb-6 flex items-center justify-center text-4xl shadow-lg shadow-emerald-900/20">
            <a href="https://devarena.pp.ua/user/остап_сухомлин"><img src="https://lh3.googleusercontent.com/a/ACg8ocJd7DJvfKeEjUmi3LyjpxhgJrcZ0Kz4kYrXcji2-L597EmVio0=s96-c"></a>
        </div>
        <h3 class="text-2xl font-bold text-white mb-4">Ostap</h3>
        <p class="text-zinc-400 text-sm leading-relaxed">
            <a href="https://github.com/sukhomlyn-pn-lab">github.com/sukhomlyn-pn-lab</a>
        </p>
      </div>

    </div>
  </div>

  <div class="max-w-7xl mx-auto px-4 py-16 sm:px-6 lg:px-8">
    <div class="text-center mb-16">
      <h2 class="text-5xl font-extrabold text-emerald-500 tracking-tight mb-4">
        Special thanks to
      </h2>
    </div>

    <div class="flex justify-center max-w-2xl mx-auto">

      <div class="w-full max-w-sm bg-zinc-900/50 border border-zinc-800 rounded-2xl p-8 flex flex-col items-center text-center group hover:border-emerald-500/50 transition-all duration-300">
        <div class="w-24 h-24 bg-emerald-500 rounded-full mb-6 flex items-center justify-center text-4xl shadow-lg shadow-emerald-900/20">
          <a href="https://github.com/Hombosh-dev"><img src="https://avatars.githubusercontent.com/u/173694566?v=4"></a>
        </div>
        <h3 class="text-2xl font-bold text-white mb-4">Oleh Hombosh</h3>
        <p class="text-zinc-400 text-sm leading-relaxed">
          <a href="https://github.com/Hombosh-dev">github.com/Hombosh-dev</a>
        </p>
      </div>
    </div>
</main>
{% endblock %}
